<h1>Домашняя страница</h1>



<p>Здесь отображаются правила для пользования сайтом</p>
<h2>Есть груз? Нужно что то перевезти?</h2>
<p>Выбирайте из тысяч предложений по любым направлениям по всей Украине: это просто, надёжно и выгодно!</p>
<h3>
    1. Выберите заказ, который подходит именно вам!
</h3>
<p>
    Если это предложение вам подходит, просто укажите города отправления и прибытия, а также время выезда, тип груза и вес.
</p>
<h3>
    2. Создайте заказ.
</h3>
<p>
    Просто укажите города отправления и прибытия, а также время выезда, тип груза и вес. Заказчики не заставят долго ждать
</p>
@*

    @ViewBag.Result

    <label>Роль юзера @User.IsInRole("user")</label>
    <label>Роль водителя @User.IsInRole("driver")</label>
    <label>Роль админа @User.IsInRole("admin")</label>*@




