<ul class="nav navbar-nav navbar-right">

    <li>@Html.ActionLink("Заказы водителей", "FindOrderForDriver", "Account")</li>
    <li>@Html.ActionLink("Заказы юзеров", "FindOrderForUser", "Account")</li>
    <li>@Html.ActionLink("Все юзеры", "AllUser", "Account")</li>
    <li>@Html.ActionLink("Все заявки", "AllOrders", "Account")</li>

</ul>

